name: Latest blog post workflow
on:
  schedule:
    # Runs every hour
    - cron: '0 * * * *'
  workflow_dispatch:  

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          comment_tag_name: Medium
          feed_list: "https://medium.com/feed/@aaaanchakure", "https://www.hardtasksin.wordpress.com/feed/"

      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          comment_tag_name: Hacker Noon
          feed_list: "https://hackernoon.com/feed/@afroz-chakure"
          
